<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".immersive.ImmersiveContentActivity"
            android:screenOrientation="userLandscape"
            tools:ignore="DiscouragedApi" />

    </application>

</manifest>