name: CI

on:
  push:

jobs:
  build:

    runs-on: macos-latest
    timeout-minutes: 30

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Generate build number
        run: echo "BUILD_NUMBER=${{github.run_number}}" > app/build_number.properties

      - name: Create API keys properties file
        run: |
          mkdir -p release
          echo "${{ secrets.API_KEYS_PROPERTIES }}" > release/api-keys.properties

      - name: Create google services file
        env:
          GOOGLE_SERVICES: ${{ secrets.DEBUG_GOOGLE_SERVICES }}
        run: |
          mkdir -p app/src/debug
          echo "$GOOGLE_SERVICES" | base64 -D > app/src/debug/google-services.json

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'

      - name: Run spotless
        run: ./gradlew spotlessCheck

      - name: Run Code Quality Checks
        run: ./gradlew check
